.poster-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* 포스터들 사이의 간격 조정 */
  margin-top: 10px; /* 위쪽과의 간격 조정 */
}

.poster {
  text-align: center; /* 포스터 내용을 가운데 정렬 */
}

.poster-img-top {
  width: auto; /* 이미지 크기 조정 */
  height: 300px; /* 이미지 비율 유지 */
}

h4 {
  margin-top: 120px;
  margin-left: 30px;
  margin-bottom: 20px;
}

h5 {
  margin-top: 20px;
}

.navbar-brand-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-family: cursive;
  font-size: 30px; /* 크기 설정 */
}

.navbar-toggler {
  order: -1;
}